name: Publish Home Assistant

on: push

jobs:
  lint_repository:
    name: Lint repository files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Run Hadolint
        uses: brpaz/hadolint-action@v1.1.0
        continue-on-error: true

  build_and_publish:
    name: Build, scan & push images
    runs-on: ubuntu-latest
    steps:
      - name: Set vars
        id: vars
        run: echo ::set-output name=short_ref::${GITHUB_REF#refs/*/}

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Push to GitHub Packages
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            failfr8er/zigbee2mqtt:${{ steps.vars.outputs.short_ref }}-amd64

      - name: Run Dive
        uses: yuichielectric/dive-action@0.0.4
        continue-on-error: true
        with:
          image: failfr8er/zigbee2mqtt:${{ steps.vars.outputs.short_ref }}-amd64
          config-file: ${{ github.workspace }}/.dive-ci.yml
